/* Chelsea Slade (Mayne)
Software Development Portfolio
August 5/2024 - */

/*Navigation*/

.navBar {
  margin-bottom: 100px;
}

.navBar ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.navBar a {
  color: darkolivegreen;
  text-decoration: none;
  margin: 20px;
}

.navBar a:visited {
  color: darkolivegreen;
}

.navBar a:hover {
  color: gray;
  font-weight: 800;
}

#dropdown {
  display: none;
}

#dropdown li {
  padding: 2px;
  border: 1px solid gray;
  margin: 2px;
  font-size: 14px;
  cursor: pointer;
}

#projects:hover #dropdown {
  display: block;
  padding: 10px;
  position: absolute;
}

/*Main Styling*/
.mainContainer {
  font-family: Arial, Helvetica, sans-serif;
}

/*Introduction */

.introductionContainer {
  display: flex;
  flex-direction: row;
}

.introductionHead {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introductionHead h1 {
  color: black;
  margin-bottom: 0;
  padding-left: 10px;
}

.introductionHead h3 {
  color: black;
  margin-bottom: 0;
  margin-top: 5px;
  padding-left: 10px;
}

.introBox {
  padding: 30px;
  margin: 40px;
  background-color: rgb(240, 247, 236);
  border-radius: 10%;
  width: 400px;
  height: auto;
  text-align: center;
}

.introBox button {
  width: 140px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: gray;
  color: #ffff;
}

.introBox button:hover {
  transition: 1.7s;
  opacity: 60%;
  cursor: pointer;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#introPic {
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 50%;
  height: 200px;
  object-fit: cover;
}

.featuredContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.featuredBox {
  background-color: rgb(240, 247, 236);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin-bottom: 40px;
}

.featuredProject {
  margin: 100px;
  text-align: center;
}

.featuredProject button {
  width: 100px;
  height: 25px;
  border: none;
  border-radius: 10px;
  background-color: gray;
  color: #ffff;
}

.featuredProject button:hover {
  transition: 1.7s;
  opacity: 60%;
  cursor: pointer;
}

.featuredImg {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
  opacity: 80%;
}

.featuredImg:hover {
  scale: 1.3;
  transition: 2s;
  opacity: 100%;
}

/* Footer */
.footerBar {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  width: auto;
  background-color: rgb(213, 223, 215);
}

.footerIcons img {
  opacity: 60%;
  margin-left: 30px;
  height: 25px;
  display: inline;
}

/* About Me Page */

.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picBG {
  background-color: rgb(213, 223, 215);
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin: 10px;
}

#aboutPic {
  height: 200px;
  padding: 20px;
  border-radius: 50%;
}

#aboutPic:hover {
  opacity: 60%;
  transition: 2s;
}

.aboutHeader h1 {
  color: black;
  margin-bottom: 20px;
  padding-left: 10px;
}

.aboutParagraph1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  text-align: center;
  padding: 5px;
}

.aboutParagraph2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  text-align: center;
  padding: 5px;
}

.aboutParagraph3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  text-align: center;
  padding: 5px;
  margin-bottom: 20px;
}

.aboutGallery {
  margin-bottom: 10px;
  padding: 10px;
}

.aboutPic {
  height: 300px;
  object-fit: cover;
  padding: 5px;
}

/* Social Page */

.socialContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialPageIcons {
}
