/* Chelsea Slade (Mayne)
Software Development Portfolio
August 5/2024 - */

/*Navigation*/
.navBar {
}

.navBar ul {
  list-style-type: none;
}

/*Main Styling*/
.mainContainer {
  font-family: Arial, Helvetica, sans-serif;
}

/*Introduction */

.introductionContainer {
}

.introduction {
}

.introduction h1 {
  color: black;
  margin: 0px;
  padding: 0px;
}

.introduction h3 {
  color: darkolivegreen;
  margin: 0px;
  padding: 0px;
}
